a{text-decoration:none;}
li{list-style:none;}
*{margin:0;padding:0;}
img,input,select,textarea{vertical-align:top;}
input,select,textarea{outline:none;border:none;}
.clearFix:after { content: ""; display: block; clear: both; }
.clearFix { zoom: 1; }
.fl { float: left;}
.fr { float: right; }
img{border:none;}

body{font-size:12px;font-family:"Microsoft Yahei";color:#555555;}
a{color:#555;}
.wrapper{width:970px;min-width:970px;margin:0 auto;overflow: hidden;}
a:hover{color:#cc3311;}