/*清默认样式*/
*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
li{
    list-style:none;
}
img{
    vertical-align:top;
    border:none;
}
input,select,textarea{
    vertical-align: top;
    outline: none;
    border:none;
}
.clearFix:after{
    content:"";
    display:block;
    clear:both;
}
.clearFix{
    zoom:1;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.page{
    width:640px;
    overflow: hidden;
}
/*头部*/
header{
    width:100%;
    height:128px;
}
header img{
    width:100%;
}
nav {
    overflow: hidden;
    height:101px;
    width:100%;
    background: #f2f2f2;
}
nav a{
    float:left;
    width:127px;
    height:62px;
    background: url("../images/back.png") no-repeat;
    margin-left:22px;
    margin-top:21px;
    text-indent:-99999em;
}
nav h1{
    float:left;
    height:39px;
    width:148px;
    background: url("../images/logo.png") no-repeat;
    text-indent:-99999em;
    margin-left:100px;
    margin-top:30px;
}
.banner{
    width:100%;
    height:298px;
    position:relative;
}
.ban_img{
    width:500%;
    height:267px;
    position:absolute;
    left:0;
    top:0;
}
.ban_img li{
    width:20%;
    height:100%;
}
.ban_img li img{
    width:100%;
    height:100%;
}
.ban_btn {
    height:10px;
    width:90px;
    position:absolute;
    left:50%;
    bottom:0;
    margin-left:-45px;
}
.ban_btn li{
    width:10px;
    height:10px;
    margin-right:10px;
    border-radius:50%;
    background: #a9a9a9;
}
.ban_btn li:nth-last-child(1){
    margin:0;
}
.ban_btn li.active{
    background: #ff4300;
}
.shopping_list{
    width:100%;
    height:322px;
}
.shopping_list ul {
    width:100%;
    height:100%;
}
.shopping_list ul li{
    height:121px;
    width:80px;
    margin-left:20px;
    margin-right:52px;
    margin-top:40px;
}
.shopping_list ul li:nth-child(1){
    margin-left:52px;
}
.shopping_list ul img{
    width:80px;
    height:80px;
}
.shopping_list ul li:nth-child(5){
    margin-left:52px;
}
.shopping_list ul span{
    font-size:24px;
    display: block;
    width:80px;
    text-align:center;
    line-height:41px;
    height:41px;
    color:#999;
}
.shopping{
    height:1550px;
    width:600px;
    margin:0 auto;
}
.shopping dt{
    padding-top:64px;
    height:55px;
    width:100%;
    margin-bottom: 30px;
    border-bottom:4px solid #dcdcdc;
}
.shopping dt span{
    margin-bottom: 21px;
}
.shopping dt span:nth-child(1){
    height:30px;
    width:4px;
    background:#d51938;
}
.shopping dt span:nth-child(2){
    height:30px;
    width:195px;
    margin-left:18px;
    margin-right:285px;
    font-size:26px;
    line-height:30px;
    color:#333;
}
.shopping dt span:nth-child(3){
    height:30px;
    width:96px;
    font-size:26px;
    line-height:30px;
    color:#333;
}
.shopping dd{
    margin-bottom:20px;
}
.shopping dd img{
    width:600px;
    height:120px;
}
.more{
    width:600px;
    height:80px;
    margin: 0 auto;
    background:#f5f5f5;
}
.more a{
    font-size:26px;
    display: block;
    line-height:80px;
    color:#666;
    margin: 0 auto;
    width:220px;
}
.tuan{
    width:600px;
    height:352px;
    margin:20px auto ;
}
.tuan img{
    width:100%;
    height:100%;
}
.tip{
    width:600px;
    height:160px;
    margin:42px auto 18px;
    display:flex;

}
.tip div{
    flex:1;
    background: url("../images/apple.png") no-repeat;
}
footer{
    width:100%;
    height:519px;
}
footer div{
    width:100%;
    height:100%;
    background: url("../images/footer.png") no-repeat;
}









