/* 焦点图 */
.slideBox{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.slideBox .hd{
    width: 100px;
    position: absolute;
    height: 28px;
    line-height: 28px;
    bottom: 5px;
    left: 45%;
    z-index:1;
}
.slideBox .hd li{
    width: 8px;
    height: 8px;
    float: left;
    border-radius: 5px;
    background: #cfcfcf;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0 6px;
}
.slideBox .hd li.on{
    background: #AF9071;
}
.slideBox .bd{
    position: relative;
}
.slideBox .bd li{
    display: block!important;
    float: left;
}
.slideBox .bd li img{
    background: url("../images/ajax-loader.gif") center center no-repeat;
    vertical-align: top;
}
.slideBox .bd li a{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
}
.slideBox .bd li a img{
    width: 100%;
    height: 100%;
}
.tempWrap,.tempWrap ul{
    height: 100%;
}
